$primary: #007272;
@forward '~element-plus/theme-chalk/src/common/var.scss' with (
  $font-size: (
    'extra-large': 1.5rem,
    'large': 1.2rem,
    'medium': 1rem,
    'base': 1rem,
    'small': 0.8rem,
    'extra-small': 0.6rem,
  ),
  $colors: (
    'primary': (
      'base': $primary,
    ),
    'success': (
      'base': $primary,
    ),
  )
);

/**
* Base theme
*/
@import '~element-plus/theme-chalk/src/index.scss';
@import './spacer.scss';
@import './common.scss';
